* {
    box-sizing: border-box;
}

body {
    font-family: 'Prompt';
    margin: 0;
}
.header-part{
    background-color: #3493ba;
    border-bottom: 20px solid #ffc000;
}

.header-part img{
    margin-left: 42%;
    margin-right: 42%;
    display: block;
}

.header-part p{
    font-size: 120%;
    color: white;
    text-align: center;
    vertical-align: middle;
    margin-top: 0;
}
.dot {
    height: 20px;
    width: 20px;
    margin-right: 1.5%;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
::placeholder{
    font-family: 'Prompt';
}
/* Full-width input fields */
  input[type=email], input[type=password] {
    font-family: 'Prompt';
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
  }
  .facebookButt{
    font-family: 'Prompt';
    background-color: #507cc0;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  .facebookButt i{
    padding-right: 10px;
  }
  /* Set a style for all buttons */
  .submitButt {
    font-family: 'Prompt';
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  .forgetPass{
      text-align: right;
      margin-top: 0;
  }
  .back{
      text-align: left;
  }
  .back i{
        padding-right: 5px;
  }
  .hint-text{
      text-align:center;
  }
  .or-seperator {
      margin-top: 32px;
      text-align: center;
      border-top: 1px solid #e0e0e0;
  }
  .or-seperator b {
      color: #666;
      padding: 0 8px;
      width: 30px;
      height: 30px;
      font-size: 13px;
      text-align: center;
      line-height: 26px;
      background: #fff;
      display: inline-block;
      border: 1px solid #e0e0e0;
      border-radius: 50%;
      position: relative;
      top: -15px;
      z-index: 1;
  }
  .container {
    padding: 16px;
  }
  
  /* Modal Content/Box */
  .blockLogin {
    background-color:#f3f3f3;
    margin:10vh auto;
    width:412px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

/* Mobile */

@media screen and (max-width:500px){
    .blockLogin {
        width:300px;
      }
}